[Unit]
Description=restore px hotkey settings on sleep wake
After=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/asus-px-keyboard-tool /etc/asus-px-keyboard-tool.conf restore
ExecStop=/usr/local/bin/asus-px-keyboard-tool /etc/asus-px-keyboard-tool.conf restore
TimeoutSec=5
RemainAfterExit=yes

[Install]
WantedBy=sleep.target multi-user.target
