[Unit]
Description=asus px kb tool
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/local/bin/asus-px-keyboard-tool /etc/asus-px-keyboard-tool.conf
TimeoutSec=5
Restart=on-failure

[Install]
WantedBy=default.target
